
*
!*/

backup
node_modules
appearance
data/*
!data/savegame
!data/savegame/**/*
Extras
Manual
mods/*
!mods/*.ini
!mods/*.txt
sound
translations
!*.ini
!*.cfg
!README.md
!.git
!.gitignore
!package.json